:root{
     --Almost-White: hsl(0, 0%, 98%);
     --Medium-Gray: hsl(0, 0%, 41%);
     --Almost-Black: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Epilogue";
    src: url(./fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}
body{
    font-family: "Epilogue";
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    font-size:  18px;
}
button{
  font-family: "Epilogue";
  background-color: var(--Almost-White);
  border: none;
  cursor: pointer;
  color: var(--Medium-Gray);
  font-size: 1em;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 16px 24px;
    & .hamburger-menu{
        /*display: none;*/
        cursor: pointer;
    }

    & nav{
      display: none;
      color: var(--Medium-Gray);
      & .back{
        background-color: var(--Medium-Gray);
        opacity: 0.75;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 780px;
      }

      & .front{
        background-color: var(--Almost-White);
        width: 240px;
        position: absolute;
        right: 0;
        top: 0;
        height: 780px;
        padding: 20px;
      }

      & .close-img-container{
        text-align: right;
        cursor: pointer;
      }
      & li{
        list-style: none;
        cursor: pointer;
        margin-bottom: 26px;
      }
      & .features-ul, .company-ul{
        margin-left: 28px;
        display: none;
      }
      

      & .submenu-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px 0;
        width: 110px;
        height: 26px;
      }
      & .btns-container{
        position: absolute;
        bottom: 124px;
      }
      & .login-btn{
        display: block;
        margin: 0 auto 16px;
      }
      & .register-btn{
        border: 1px solid var(--Almost-Black);
        width: 195px;
        height: 42px;
        border-radius: 14px;
      }

      
    }
}

main{
  display: flex;
  flex-direction: column-reverse;
  & .hero-image{
    width: 100%;
    margin-bottom: 48px;
  }
  & h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 16px;
  }
  & p{
    text-align: center;
    line-height: 26px;
    color: var(--Medium-Gray);
    margin: 0 16px 24px;
    font-size: 0.89em;
  }
  & button{
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    width: 136px;
    height: 48px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    margin-bottom: 52px;
    &:hover{
      background-color: var(--Almost-White);
      color: var(--Almost-Black);
      border: 1px solid var(--Almost-Black);
    }
  }
  & .logos-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom: 96px;
  }
  & .databiz{
    width: 81px;
  }
  & .audio{
    width: 52px;
  }
  & .meet{
    width: 64px;
  }
  & .maker{
    width: 59px;
  }
}






